body {
	width: 90%;
	max-width: 800px;
	margin: auto;
}

h1 {
	font-size: 2.5rem;
}

ul {
	padding: 0;
	list-style: none;
}

#stretchable-grid-items ul {
	margin: 1rem -10px 1rem -10px;
}

li {
	vertical-align: top;
	display: inline-block;
}

#stretchable-grid-items li {
	width: 25%;
}

#fixed-size-grid-items aside {
	width: 170px;
	font-size: .8rem;
	margin: 10px;
}

#stretchable-grid-items aside {
	margin: 10%;
}

@media ( max-width: 640px ) {

	body {
		background-color: #eaf6ff;
	}

	#stretchable-grid-items li {
		width: 50%;
	}

}

@media ( max-width: 500px ) {

	h1 {
		font-size: 1.5rem;
	}

}

@media ( max-width: 480px ) {

	h1 {
		font-size: 1.5rem;
	}

	#stretchable-grid-items li {
		width: 100%;
	}

}