body {
	font-size: 24px;
	font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
	font-weight: 300;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 0px;
	margin-bottom: 0px;
}

section {
	margin-top: 50px;
	margin-bottom: 50px;
	text-indent: 30px;
}

h1 {
	font-size: 3rem;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 75px;
}

h2 {
	font-size: 2.75rem;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
	margin-top: 0px;
	margin-bottom: 15px;
}

.subtitle {
	font-family: "Arial";
	font-size: 1.75rem;
	font-weight: 700;
	color: rgb(255, 143, 109);
	margin-top: 0px;
	margin-bottom: 15px;
}

.code {
	font-family: "Arial";
	font-size: 1rem;
	font-weight: 300;
	font-style: italic;
	color: rgba(0,0,0,.5);
	margin-top: 0px;
	margin-bottom: 0px;
}

.stylized {
	font-family: "Open Sans";
	font-weight: normal;
}

.tight {
	margin-bottom: 0px;
}





