body {
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-shadow: 4px 4px 4px rgba(8, 8, 51, 0.55);
}

a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	color: rgba(0,0,0,0);
}
.image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

span.initial {
	font-size: 1.75em;
	word-spacing: -.25rem;
}

.quote {
	margin: auto;
	letter-spacing: .1rem;
	word-spacing: .1rem;
	font-weight: 700;
	text-align: center;
	margin: 0px;
}

.source {
	position: absolute;
	bottom: 5%;
	right: 4%;
	font-size: 25px;
	text-align: right;
	font-weight: 500;
}

.image > div {
	font-size: 50px;
	margin: auto;
	margin-top: 100px;
}

#bottom-aligned {
	position: absolute;
	bottom: 115px;
	left: 0px;
	right: 0px; 
}

#page-2 {
	line-height: 60px;
}

#page-2 .source {
	text-align: center;
	top: -75px;
	right: 4%;
}

#page-1 {
	background-image: url(../images/grow.jpg);
}

#page-2 {
	background-image: url(../images/matilda.jpg);
}

#page-3 {
	background-image: url(../images/revolting.jpg);
}

@media ( max-width: 1440px ) {

	.image > div {
		font-size: 40px;
	}
	#page-2 .source {
		font-size: 25px;
	}
	.source {
		font-size: 25px;
	}

}

@media ( max-width: 1000px ) {

	#page-3 > div {
		font-size: 37px;
	}
	.source {
		font-size: 25px;
	}

}

@media ( max-width: 768px ) {

	.image > div {
		font-size: 35px;
	}

	#page-2 > div {
		line-height: 50px;
	}

	#page-3 div {
		font-size: 30px;
	}
	.source {
		font-size: 25px;
	}
	#page-3 .source {
		font-size: 25px;
	}

}

@media ( max-width: 600px ) {

	.image > div {
		font-size: 30px;
		margin-top: 75px;
	}

	.source {
		left: 0px;
		right: 0px;
		text-align: center;
		font-size: 25px;
	}

	#page-1 p:first-of-type {
		margin: auto;
		width: 275px;
		line-height: 45px;
	}

	#page-1 p:nth-of-type(2) {
		margin: auto;
		margin-top: 4px;
		width: 300px;
		line-height: 45px;
	}

	span.final {
		font-size: 1.75em;
		word-spacing: -.25rem;
	}

	#page-2 p:first-of-type {
		margin: auto;
		width: 275px;
		line-height: 50px;
	}

	#page-2 p:nth-of-type(2) {
		margin: auto;
		margin-top: -5px;
		width: 180px;
		line-height: 45px;
	}

	#page-2 > div {
		bottom: 50px;
		font-size: 25px;
	}

	#page-2 .source {
		top: -45px;
	}

	#page-3 p:first-of-type {
		margin: auto;
		width: 275px;
		line-height: 40px;
	}

	#page-3 p:nth-of-type(2) {
		margin: auto;
		margin-top: 0px;
		width: 350px;
		line-height: 40px;
	}

	#page-3 div {
		margin-top: 45px;
		font-size: 25px;
	}

	#page-3 #special {
		margin-top: -10px;
		display: inline-block;
		vertical-align: top;
	}

}






